[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

html, body { height: 100%; }

body {
	background-color: #fff;
	font-family: $special;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	@include linear-animation;
	&:hover {
		text-decoration: none;
	}
	&:focus {
		outline: none;
		text-decoration: none;
	}
}

h3 {
	border-bottom: 1px solid #ccc;
	color: #333;
	font: normal 20px $special;
	margin: 50px 0 20px;
	padding-bottom: 10px;
	color: rgba(26,26,26,.7);
	span {
		font-size: 12px;
	}
}

label {
	color: rgba(26,26,26,.7);
	font-size: 13px;
	i {
		@include linear-animation;
		background-color: $darkBlue;
		border-radius: 15px;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-size: 10px;
		height: 15px;
		line-height: 15px;
		margin-left: 5px;
		position: relative;
		text-align: center;
		width: 15px;
		span {
			@include linear-animation;
			color: $darkBlue;
			font-size: 12px;
			opacity: 0;
			left: 20px;
			position: absolute;
			text-align: left;
			top: 0;
			width: 500px;
			margin: 0;
			z-index: -1;
		}
		&:hover {
			background-color: darken($darkBlue, 5%);
			span {
				opacity: 1;
			}
		}
	}
	span {
		display: block;
		font-size: 10px;
		font-weight: normal;
		margin-top: 4px;
	}
}

button {
	font-family: $special;
}

header {
	background: url(../img/bg_full.jpg) no-repeat center center;
	background-attachment: fixed;
	padding: 25px;
	margin-bottom: 20px;
	position: relative;
	height: 100vh;
	width: 100%;
	h1 {
		//@include vertical-align;
		color: #fff;
		font: normal 37px $special;
		font-weight: 500;
		margin: 200px auto 0;
		max-width: 75%;
		text-align: center;
		span {
			display: block;
			font-size: 22px;
			letter-spacing: normal;
			margin-top: 15px;
		}
	}
	.anchor {
		bottom: 35px;
		color: #fff;
		display: block;
		font-size: 58px;
		left: 50%;
		margin-left: -18px;
		position: absolute;
		text-align: center;
		&:hover {
			bottom: 30px;
		}
	}
}

nav {
	font-size: 14px;
	float: right;
	text-align: right;
	width: 70%;
	li {
		list-style-type: none;
		letter-spacing: 2px;
		display: inline-block;
	}
	a {
		color: $gray;
		display: block;
		height: 55px;
		line-height: 55px;
		padding: 0 25px;
		&:hover {
			color: darken($blue, 10%);
		}
	}
}

footer {
	@include linear-animation;
	background-color: #828282;
	font: normal 13px $normal;
	padding: 35px 0;
	.social-icons {
		a {
			background-color: #fff;
			-webkit-border-radius: 16px;
			border-radius: 16px;
			background-repeat: no-repeat;
			background-position: center center;
			display: block;
			margin: 0 2px 30px;
			height: 32px;
			width: 32px;
			&:hover {
				opacity: 1 !important;
			}
		}
		&:hover {
			a {
				opacity: 0.6;
			}
		}
	}
	ul {
		margin: 0;
		padding: 0;
		text-align: center;
	}
	li {
		display: inline-block;
		margin: 0;
		padding: 0;
	}
	a {
		display: block;
		color: #fff;
		padding: .75em 1.25em;
		-webkit-font-smoothing: antialiased;
		&:hover {
			color: #fff;
		}
	}
}

.logo {
	width: 195px;
}

.round-btn {
	-webkit-border-radius: 300px;
	border-radius: 300px;
	background-color: $blue;
	color: #fff;
	display: block;
	height: 55px;
	line-height: 55px;
	margin-left: 25px;
	padding: 0 30px;
	&:hover {
		background-color: $darkBlue;
		color: #fff;
	}
}

.clear {
	clear: both;
}

.container {
	margin: 0 auto 60px;
	max-width: 960px;
	width: 100%;
}

.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

.form-group {
	margin-bottom: 30px;
}

.form-control {
	@include placeholder(#ccc);
	font-size: 12px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	height: 40px;
	line-height: 40px;
	padding: 0px 12px;
}

.btn-close {
	@include btn-close;
}

.btn-close-inverted {
	@include btn-close(#fff, $blue);
}

.btn-close-knockout {
	@include btn-close(#fff, transparent, transparent, #fff);
}