$gray:       #444645;
$blue:       #19f0ed;
$red:        #fd2d32;
$darkBlue:   darken($blue, 10%);

$special: "Raleway", "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
$normal: 'Arial', 'Helvetica';