<!DOCTYPE html>
<html id="ng-app" ng-app="Riff"> <!-- id="ng-app" IE<8 -->

	<head>
		<title>RIFF Downloader</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,800,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/base.css?v1">

		<!-- Fix for old browsers -->
		<script src="js/lib/es5-shim/es5-shim.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
		<script src="js/console-sham.js"></script>

		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
		<![endif]-->

		<script src="js/lib/angular/angular.min.js"></script>
		<script src="js/lib/angular-file-upload/angular-file-upload.js"></script>

	</head>

	<body ng-controller="AppController" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">

		<div ng-cloak ng-show="status.text" class="status-bar {{status.color}}" ng-cloak>
			<span>{{status.text}}</span>
			<div class="btn-close-knockout" ng-click="status = {}"></div>
		</div>

		<header>
			<img src="img/logo.png" alt="riffreel" class="logo">
			<nav>
				<li><a href="http://www.riffreel.com/">HOME</a></li>
				<li><a href="http://www.riffreel.com/explorework/">OUR WORK</a></li>
				<li><a href="http://riff.thereactory.com/s3/" class="round-btn">GET STARTED</a></li>
			</nav>
		</header>

		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<h3>YOUR INFO</h3>

					<div class="form-group">
						<label for="email">Email address*</label>
						<input type="email" class="form-control" id="email" name="email" ng-model="email" placeholder="john@doe.com">
					</div>

					<div class="form-group">
						<label for="project">Project Name*</label>
						<input type="project" class="form-control" id="project" name="project" ng-model="project" placeholder="E.g. My Trip to Alaska">
					</div>

					<h3> KNOW WHAT YOU WANT? TELL US! <span>(optional)</span></h3>

					<div class="form-group">
						<label for="expectation">
							How should your riffreel look?
							<span>Don't know what you want, no problem! However the more direction we have the better!</span></label>
						<input type="text" class="form-control" id="expectation" name="expectation" ng-model="expectation" placeholder="E.g. - A fast paced movie with a lot of color effects that shows every experience on our trip to Hawaii">
					</div>

					<div class="form-group">
						<label for="specify">Let us know what we must include.</label>
						<input type="text" class="form-control" id="specify" name="specify" ng-model="specify" placeholder="E.g. Please include the couple of time lapse clips of the New York City skyline.">
					</div>

					<div class="form-group">
						<label for="example">Seen a video online that you want to immitate? Share it with us so we can use it as a reference.</label>
						<input type="text" class="form-control" id="example" name="example" ng-model="example" placeholder="http://">
					</div>

					<div class="form-group">
						<label for="love">What do you love about this video?</label>
						<textarea class="form-control" id="love" name="love" ng-model="love" placeholder="E.g. I loved the music"></textarea>
					</div>

					<h3>UPLOAD YOUR FOOTAGE</h3>

					<div ng-hide="uploader.isUploading">
						<div ng-show="uploader.isHTML5">
							<!-- 3. nv-file-over uploader="link" over-class="className" -->
							<div class="well my-drop-zone" nv-file-over="" uploader="uploader">
								Drag videos here
							</div>

							<!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}"
							<div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
								<div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
									Another drop zone with its own settings
								</div>
							</div>-->
						</div>

						<!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
						<label>Upload Files</label>
						<input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>

						<!-- Single
						<input type="file" nv-file-select="" uploader="uploader" /> -->
					</div>
				</div>

				<div class="col-md-12" style="margin-bottom: 40px" ng-show="uploader.queue.length > 0">

					<p>Total files: {{ uploader.queue.length }}</p>

					<table class="table">
						<thead>
							<tr>
								<th width="50%">Name</th>
								<th ng-show="uploader.isHTML5">Size</th>
								<th ng-show="uploader.isHTML5">Progress</th>
								<th>Status</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in uploader.queue">
								<td><strong>{{ item.file.name }}</strong></td>
								<td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
								<td ng-show="uploader.isHTML5">
									<div class="progress" style="margin-bottom: 0;">
										<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
									</div>
								</td>
								<td class="text-center">
									<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
									<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
									<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
								</td>
								<td nowrap>
									<!--<button type="button" class="btn btn-success btn-xs" ng-click="item.upload(); test(item)" ng-show="(item.isCancel && !item.isReady) || (!item.isSuccess && item.isUploaded)">
										<span class="glyphicon glyphicon-upload"></span> Retry
									</button>-->
									<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
										<span class="glyphicon glyphicon-ban-circle"></span> Cancel
									</button>
									<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
										<span class="glyphicon glyphicon-trash"></span> Remove
									</button>
								</td>
							</tr>
						</tbody>
					</table>

					<!--<div>
						<button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
							<span class="glyphicon glyphicon-upload"></span> Upload all
						</button>
						<button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
							<span class="glyphicon glyphicon-ban-circle"></span> Cancel all
						</button>
						<button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
							<span class="glyphicon glyphicon-trash"></span> Remove all
						</button>
					</div>-->



				</div>

				<div class="col-md-12">

					<!-- <div ng-show="uploading">
						Queue progress:
						<div class="progress" style="">
							<div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
						</div>
					</div> -->

					<button type="button" class="btn btn-success btn-s" ng-click="submit()" ng-hide="uploader.isUploading">
						<span class="glyphicon glyphicon-upload"></span> Upload & Submit
					</button>

					<button type="button" class="btn btn-warning btn-s" ng-click="cancelAll = true; uploader.cancelAll();" ng-show="uploader.isUploading">
						<span class="glyphicon glyphicon-ban-circle"></span> Cancel all
					</button>
				</div>

			</div>

		</div>

		<modal-dialog show="success" width="600px" height="auto" ng-cloak cant-close="true">
			<h1>Congratulations! Your upload is complete!</h1>
			<p>Click the FINISH button below to return to the main site and wait to receive a confirmation email from us!</p>
			<a class="round-btn" target="_parent" href="http://www.riffreel.com/">FINISH</a>
			<p>Other questions or concerns? Please <a href="http://www.riffreel.com/" target="_parent">Contact us!</a></p>
		</modal-dialog>

		<script src="js/file-types.js"></script>
		<script src="js/app.js?v2"></script>

	</body>
</html>
